/* footer */
.footer{
  background-color: rgb(59, 59, 59);
}
.footer .inner-footer{
  display: flex;
  justify-content: center;
}
.footer .inner-footer .fcon{
  flex: 0 1 980px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(163, 163, 163);
}
.footer .inner-footer .fcon a{
  text-decoration: underline;
  color: rgb(163, 163, 163);

  padding: 0 10px;
  font-size: 12px;
  font-style: italic;
}
.footer .inner-footer .fcon a:hover{
color: rgb(255, 255, 255);
}